body {
    background-image: url(../img/images/bg.jpg);
    background-repeat: repeat-y;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}
header {
    color: white;
    text-align: center;
}
header>h1 {
    font-weight: bolder;
    margin-bottom: 0;
    font-size: 50px;
}
header>p {
    margin-top: 0;
    font-size: 12px;
    padding-bottom: 20px;
}
section>div>img {
    width: 50%;
}
.first {
    margin: 0 auto;    
}
.first>div {
    display: flex;
    justify-content: center;
}
.fringilla {
    background-color: rgb(236, 233, 233);
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
h2 {
    padding-top: 40px;
    margin: 0;
    font-size: 25px;
}
hr {
    width: 10%;
}
.fringilla>p {
    font-size: 13px;
    padding-bottom: 40px;
    margin: 0 auto;
    color: grey;
}
.lorem {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(233, 231, 227);
}
.lorem>p {
    font-size: 14px;
    width: 85%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    color: grey;
}
.grey {
    background-color: rgb(34, 34, 34);
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.black {
    background-color: rgb(22, 20, 20);
    text-align: center;
    margin-right: 7.5%;
    margin-left: 7.5%;
    margin-top: 70px;
}
.grey>div>h2 {
    color: white;
}
.grey>div>p {
    color: grey;
    font-size: 15px;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 70px;
}
.wrap>div>img {
    height: 100%;
}
.secundo {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 50%;
}
.secundo>div>img {
    height: 100%;
}
.tri {
    padding-left: 80px;
    padding-top: 80px;
    background-color: rgb(236, 235, 235);
}
.tri>p {
    font-size: 14px;
    color: grey;
    width: 90%;
    font-family: 'Poppins', sans-serif;
}
.four {
text-align: right;
    background-color:rgb(34, 34, 34) ;
}
.four>h2 {
    color: white;
    padding-right: 40px;
}

footer {
    padding-top: 40px;
    text-align: center;
}
i {
    font-size: 25px;
    color: rgb(139, 138, 138);
    padding: 5px;
}
footer>p {
    font-size: 14px;
    color: rgb(139, 138, 138);
    padding: 5px;
}
.five {
    height: 354px;
}
.wrap>div {
    height: 10.5vw;
}
